html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html,
body{
    position: relative;
    // overflow-x: hidden;
    min-width: 320px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}
a{
    display: inline-block;
    color: #d3d2d2;
    text-decoration: none;
}
ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main__btn{
    background-color: transparent;
    border: 1px solid $bg;
    padding: 13px 20px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-right-width: 21px;
    position: relative;
    &::before{
        content: '\f105';
        position: absolute;
        font-family: 'icomoon';
        right: -13px;
        top: 12px;
    }
}
