@media (max-width: 1156px){
    .services__items{
        display: block;
    }
    .services__item{
        max-width: 90%;
        margin: 30px auto;
        min-height: 310px;
    }
    .consultation__inner{
        background-image: none;
    }
    .news__inner{
        display: block;
    }
    .news__slider{
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 90px;
    }
    .news__blog{
        margin: 0 auto; 
        display: block;
        & + .news__blog{
            margin-top: 30px;
        }
    }
}
@media (max-width: 900px){
    .slider{
        .slick-btn{
            display: none !important;
        }
    }
    .services__top{
        display: block;
        text-align: center;
        .description{
            padding-left: 0;
            text-align: center;
            margin: 0 auto 30px;
            &::before{
                display: none;
            }
        }
        .description__text{
            margin: 0 auto;
        }
    }
    .form__box{
        .form__box-inner{
            display: block;
            .form__box-left{
                max-width: 100%;
            }
            .form__box-right{
                max-width: 100%;
                button{
                    float: none;
                }
            }
        }
    } 
    .advantages__inner{
        display: block;
    }
    .advantages__item{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .news{
        padding: 55px 0px 50px;
    }
    .footer__inner{
        display: block;
    }
    // .footer__map{
    //     max-width: 100%;
    // }
    .footer__info{
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
    }
    .footer__list{
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width: 700px) {
    .header__top-inner {
        padding-top: 15px;
        display: block;
        text-align: center;
        .consul {
            margin-top: 10px;
            width: 90%;
            text-align: center;
            padding: 16px 22px 16px 22px;
            &::before {
                display: none;
            }
        }
    }
    .header__btn-menu {
        display: block;
    }
    .header__content-inner {
        .menu {
            ul {
                display: none;
                position: absolute;
                left: 0;
                right: 0;
                z-index: 50;
                li {
                    display: block;
                    width: 100%;
                    text-align: center;
                    & + li{
                        margin-left: 0;
                    }
                    a {
                        display: block;
                        background-color: #ffc222;
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
}
@media (max-width: 600px){
    .services__item{
        max-width: 100%;
        margin: 30px auto;
        min-height: 375px;
    }
    .news__slider-title{
        font-size: 16px;
        text-align: center;
    }
    .news__slider-author{
        text-align: center;
    }
    .footer__list{
        display: block;
    }
}
@media (max-width: 414px){
    .slider__title{
        font-size: 24px;
    }
    .slider__item{
        .slider__text{
            font-size: 16px;
        }
    }
}







@media (min-width: 700px){
    .header__content-inner{
        ul{
            display: block !important;
        }
    }
}
