@import 'vars';
@import 'global';
@import 'fonts';

.header__top{
    background-color: #303030; 
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
    .contacts{
        a{
            margin-left: 30px;
        }
        .contact-phone{
            position: relative;
            &::before{
                content: '\f095';
                font-family: 'icomoon';
                position: absolute;
                font-size: 14px;
                color: $bg;
                left: -16px;
                top: 1px;
            } 
        }
        .contact-email{
            position: relative;
            &::before{
                content: '\f003';
                font-family: 'icomoon';
                position: absolute;
                font-size: 14px;
                color: $bg;
                left: -21px;
                top: 0px;
            } 
        }
    }
    .consul{
        position: relative;
        padding: 16px 22px 16px 55px;
        background-color: $bg;
        font-size: 16px;
        color: #1b1b1b; 
        margin-left: 27px;
            &::before{
            content: '\f0b1';
            font-family: 'icomoon';
            position: absolute;
            left: 22px;
        } 
    }
}
.header__content-inner{
    min-height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        color: $bg;
        font-size: 30px;
        font-weight: 500;
        span{
            font-weight: 100;
            color: #000;
        }
    }
    .menu{
        li{
            display: inline-block;
            & + li{
                margin-left: 10px;
            }
            a{
                padding: 10px 19px;
                color: #323232;
                font-size: 16px;
                line-height: 36px;
                border: 1px solid transparent;
                transition: all .2s;
                &:hover{
                    border: 1px solid $bg;
                }
            }
        }
    }
}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.slider__inner{
    position: relative;
    .slick-btn{
        position: absolute;
        top: 70%;
        z-index: 3;
        width: 40px;
        height: 40px;
        background-color: transparent;
        outline: none;
        border: 1px solid #fff;
        transition: all .2s;
        &:hover{
            background-color: $bg;
        }
    }
    .slick-next{
        left: 0;
        &::before{
            content: '\f104';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    }
    .slick-prev{
        right: 0;
        &::before{
            content: '\f105';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.slider__item{
    text-align: center;
    padding-top: 130px;
    color: #fff;
    .slider__text{
        font-size: 18px;
        color: #d3d2d2;
        line-height: 24px;
        margin-top: 25px;
        max-width: 665px;
        margin: 0 auto;
    }
    button{
        margin-top: 45px;
    }
}
.services__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
    .description{
        padding-left: 140px;
        position: relative;
        max-width: 520px;
        &::before{
            content: '';
            position: absolute;
            width: 106px;
            height: 2px;
            background-color: $bg;
            left: 0;
            top: 25px;
        }
    }
    .description__text{
        max-width: 380px;
        line-height: 18px;
        color: #5e5e5e;
    }
    .services__top-btn{
        color: #373636;
        border: 3px solid #e6e6e6;
        padding: 12px 38px;
        margin-right: 39px;
    }
}
.services__items{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.services__item{
    max-width: 360px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
    padding: 30px 0px 40px;
    margin-bottom: 35px;
    .services__item-text{
        color: #5e5e5e;
        padding: 0px 30px;
        margin-bottom: 60px;
    }
    .services__links{
        
        button{
            margin-left: 40px;
            color: #000;
        }
        .services__link{
            margin-right: 40px;
            color: #000;
            border-bottom: 1px solid #000;
        }
    }
}
.company{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 38px 0px 45px;
    color: #fff;
    .company__text{
        max-width: 544px;
        line-height: 24px;
        color: #d3d2d2;
        margin-bottom: 30px;
    }
}



  

