@import 'vars';
@import 'global';
@import 'fonts';

.header__top{
    background-color: #303030; 
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
    .contacts{
        a{
            margin-left: 30px;
        }
        .contact-phone{
            position: relative;
            &::before{
                content: '\f095';
                font-family: 'icomoon';
                position: absolute;
                font-size: 14px;
                color: $bg;
                left: -16px;
                top: 1px;
            } 
        }
        .contact-email{
            position: relative;
            &::before{
                content: '\f003';
                font-family: 'icomoon';
                position: absolute;
                font-size: 14px;
                color: $bg;
                left: -21px;
                top: 0px;
            } 
        }
    }
    .consul{
        position: relative;
        padding: 16px 22px 16px 55px;
        background-color: $bg;
        font-size: 16px;
        color: #1b1b1b; 
        margin-left: 27px;
            &::before{
            content: '\f0b1';
            font-family: 'icomoon';
            position: absolute;
            left: 22px;
        } 
    }
}
.header__content-inner{
    min-height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        color: $bg;
        font-size: 30px;
        font-weight: 500;
        span{
            font-weight: 100;
            color: #000;
        }
    }
    .menu{
        li{
            display: inline-block;
            & + li{
                margin-left: 10px;
            }
            a{
                padding: 10px 19px;
                color: #323232;
                font-size: 16px;
                line-height: 36px;
                border: 1px solid transparent;
                transition: all .2s;
                &:hover{
                    border: 1px solid $bg;
                }
            }
        }
    }
}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.slider__inner{
    position: relative;
    .slick-btn{
        position: absolute;
        top: 70%;
        z-index: 3;
        width: 40px;
        height: 40px;
        background-color: transparent;
        outline: none;
        border: 1px solid #fff;
        transition: all .2s;
        &:hover{
            background-color: $bg;
        }
    }
    .slick-next{
        left: 0;
        &::before{
            content: '\f104';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    }
    .slick-prev{
        right: 0;
        &::before{
            content: '\f105';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.slider__item{
    text-align: center;
    padding-top: 130px;
    color: #fff;
    .slider__text{
        font-size: 18px;
        color: #d3d2d2;
        line-height: 24px;
        margin-top: 25px;
        max-width: 665px;
        margin: 0 auto;
    }
    button{
        margin-top: 45px;
    }
}
.services__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
    .description{
        padding-left: 140px;
        position: relative;
        max-width: 520px;
        &::before{
            content: '';
            position: absolute;
            width: 106px;
            height: 2px;
            background-color: $bg;
            left: 0;
            top: 25px;
        }
    }
    .description__text{
        max-width: 380px;
        line-height: 18px;
        color: #5e5e5e;
    }
    .services__top-btn{
        color: #373636;
        border: 3px solid #e6e6e6;
        padding: 12px 38px;
        margin-right: 39px;
    }
}
.services__items{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.services__item{
    max-width: 360px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
    padding: 30px 0px 40px;
    margin-bottom: 35px;
    .services__item-text{
        color: #5e5e5e;
        padding: 0px 30px;
        margin-bottom: 60px;
    }
    .services__links{
        
        button{
            margin-left: 40px;
            color: #000;
        }
        .services__link{
            margin-right: 40px;
            color: #000;
            border-bottom: 1px solid #000;
        }
    }
}
.company{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 38px 0px 45px;
    color: #fff;
    .company__text{
        max-width: 544px;
        line-height: 24px;
        color: #d3d2d2;
        margin-bottom: 30px;
    }
}
// .consultation{
//     margin-top: 50px;
// }
.consultation__inner{
    padding-bottom: 40px;
    background-image: url(../images/womanbg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 460px;
}
.form__box{
    max-width: 850px;
    margin-top: 45px;
    .form__box-inner{
        display: flex;
        justify-content: space-between;
        input,label,textarea{
            display: block;
            width: 100%;
        }
        .form__box-left{
            max-width: 260px;
            width: 100%;
        }
        .form__box-right{
            max-width: 555px;
            width: 100%;
            button{
                color: #282828;
                margin-top: 40px;
                float: right;
            }
        }
        label{
            line-height: 36px;
            color: #282828;
        }
        input{
            margin-bottom: 8px;
            outline: none;
            height: 40px;
            border: 1px solid #e6e6e6;
            padding: 0px 10px;
        }
        select{
            outline: none;
            padding: 0px 10px;
        }
        textarea{
            outline: none;
            border: 1px solid #e6e6e6;
            padding: 10px;
            height: 207px;
            resize: none;
        }
        .jq-selectbox.jqselect{
            display: block;
            width: 100%;
            .jq-selectbox__select {
                height: 40px;
                border: 1px solid #e6e6e6;
                padding-left: 17px;
                // background-color: transparent;
                // border-radius: 0;
            }
        }
        .jq-selectbox__dropdown {
            border: 1px solid #e6e6e6;
            border-radius: 0px;
            background: #fff;
            box-shadow: none;
            width: 100%;
            padding-left: 17px;
        }
        .jq-selectbox__trigger-arrow{
            color: #fff;
            &::before{
                content: '\f107';
                position: absolute;
                font-family: 'icomoon';
                color: #000;
                right: 13px;
                top: 0;
            }
        } 
    }
}
.advantages{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 52px 0px;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    max-width: 370px;
    text-align: center;
    color: #fff;
    margin-top: 56px;
    padding: 0px 10px;
    .advantages__text{
        color: #d3d2d2;
    }
    .advantages__icon{
        width: 40px;
        height: 40px;
        border: 2px solid $bg;
        margin: 0 auto;
        position: relative;
        &::before{
            content: '\e900';
            position: absolute;
            font-family: 'icomoon';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
// news start
.news{
    padding: 55px 0px 110px;
    background-color: #f9f9f9;
}
.news__inner{
    display: flex;
    justify-content: space-between;
}
.news__slider{
    max-width: 555px;
    width: 100%;
    background-color: #fff;
    padding: 60px 35px 45px 70px;
    position: relative;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    position: relative;
    &::before{
        content: '*';
        color: #fff;
        font-size: 16px;
        width: 65px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        position: absolute;
        background-color: #ffc222;
        top: 0;
        left: 70px;
    }
}
.news__blog{
    max-width: 260px;
    width: 100%;
}
.news__images{
    position: relative;
}
.news__date{
    position: absolute;
    background-color: #ffc222;
    height: 55px;
    width: 50px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0px;
    left: 10px;
}
.news__blog-title{
    font-size: 16px;
    font-weight: 500;
    color: #242424;
    padding: 12px 0px;
}
.news__blog-text{
    color: #5e5e5e;
    font-size: 14px;
}
.news__slider-title{
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    font-weight: 500;
    margin-bottom: 15px;
}
.news__slider-text{
    margin-bottom: 30px;
    color: #5e5e5e;
    font-size: 14px;
}
.news__slider-author{
    color: #212020;
    font-size: 14px;
}
.news__slick-btn{
    height: 38px;
    width: 38px;
    background-color: transparent;
    border: 1px solid #dadada;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background-color: #ffc222;
    }
}
.news__slick-next{
    position: absolute;
    bottom: -100px;
    right: 20px;
    &::before{
        content: '\f104';
        position: absolute;
        font-family: 'icomoon';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #9e9c9c;
        &:hover{
            color: #fff;
        }  
    }
}
.news__slick-prev{
    position: absolute;
    bottom: -100px;
    right: -35px;
    &::before{
        content: '\f105';
        position: absolute;
        font-family: 'icomoon';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #9e9c9c;
        &:hover{
            color: #fff;
        }  
    }
}
// news end
.footer{
    background-color: #595959;
    padding: 28px 0px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__info{
    max-width: 400px;
    .footer__title{
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 13px;
    }
    .footer__text{
        font-size: 14px;
        line-height: 18px;
        color: #d3d2d2;
        margin-bottom: 21px;
    }
    .footer__link{
        padding: 18px 22px 18px 49px;
        background-color: #ffc222;
        color: #000;
        position: relative;
        &::before{
            content: '\f013';
            font-family: 'icomoon';
            position: absolute;
            left: 30px;
        }
    }
}
.footer__list{
    margin-top: 20px;
    margin-bottom: 30px;
    li{
        a{
            padding-left: 25px;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            position: relative;
            &::before{
                content: '\f10b';
                font-family: 'icomoon';
                position: absolute;
                color: #ffc222;
                left: 0;
            }
            &.footer__mail{
                position: relative;
                &::before{
                    content: '\f003';
                    font-family: 'icomoon';
                    position: absolute;
                    color: #ffc222;
                    left: 0;
                }
            }
            &.footer__adres{
                position: relative;
                &::before{
                    content: '\f041';
                    font-family: 'icomoon';
                    position: absolute;
                    color: #ffc222;
                    left: 0;
                }
            }
        }
    }
}
.footer__map{
    padding-top: 10px;
}

.footer__copy{
    background-color: #303030;
    padding: 15px 0px;
    color: #fff;
    text-align: center;
}




@import 'media';